.App {
  text-align: center;
}

.Typewriter__wrapper {
  font-size: 3rem;
}

.Typewriter__cursor {
  font-size: 3rem;
}

@media (max-width: 800px) {
  .Typewriter__wrapper {
    font-size: 2.3rem;
  }
}

@media (max-width: 500px) {
  .Typewriter__wrapper {
    font-size: 2rem;
  }
}
